/* - - - - - - - - - - - - - - - - - - - - -

 Title : Match EMC Site
 Author : Brady Sheridan (dev@bradysheridan.com)
 URL : https://bradysheridan.github.io/revunami-wufoo-themes/match-emc-site/main.css

 Last Updated : 3/15/2021

- - - - - - - - - - - - - - - - - - - - - */

form.wufoo {
  padding: 0 !important;
}

/* typography */
form.wufoo * {
  font-family: "Bianco Serif", serif !important;
  font-size: 16px !important;
}

/* hide header (title/description handled by components outside of form) */
form.wufoo header {
  padding: 0 14px 0px 14px;
  margin: 14px 0px 14px 0px !important;
  border: 0;
}
form.wufoo header div {
  padding-bottom: 0 !important;
  font-size: 1.6rem !important;
}
form.wufoo header h2 {
  display: none !important;
}

/* borders on text inputs */
form.wufoo input.text,
form.wufoo input.search,
form.wufoo textarea.textarea {
  border-top: 1px solid #7c7c7c;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
form.wufoo li.focused input.text,
form.wufoo li.focused input.search,
form.wufoo li.focused textarea.textarea {
  border-top: 1px solid #7c7c7c;
  border-left: 1px solid #c3c3c3;
  border-right: 1px solid #c3c3c3;
  border-bottom: 1px solid #ddd;
  background: #fff;
}
form.wufoo li.focused input.text:focus,
form.wufoo li.focused input.search:focus,
form.wufoo li.focused textarea.textarea:focus {
  /* ... */
}

/* submit button */
form.wufoo input[type=submit] {
  font-family: 'Whitney', sans-serif !important;
  width: 100%;
  padding: 12px 0px 12px 0px;
  color: #fff;
  border-radius: 6px;
  border: none !important;
  cursor: pointer;
  background-color: #EC742E !important;
  transition: 200ms;
}
form.wufoo input[type=submit]:hover {
  background-color: #d45e19 !important;
  transition: 200ms;
}

/* required asterisk */
.redesigned-theme-2018 form label span.req {
  color: #EC742E !important;
}
